

#div0 {
	/*display:block;
	color:white;
	float:left;
	position:relative;	
	background-color:black;
	padding:0px 20px 0px 20px;
	height:100px;
	width:220px;*/
	font-family:Calibri;
}

h1 {
	color:white;
	background-color:black;
	font-family:Calibri;
	/*width:320px;*/
}

#subtitle {
	font-size: 15px;
}

.button {
    border: 2px solid;
    border-radius: 5px;
	background-color: yellow;
	border-color: blue;
	border-style: solid;
	text-align: center;
}

#div1 {
	display:block;
	color:blue;
	background-color:grey;
	/* float:left;
	padding:0px 20px 0px 20px;
	height:150px;
	width:320px;*/
	font-family:Calibri;
	position:relative;
	/*top:-30px;*/
}


#h2two {
	position:relative;
	left:120px;
}


#div2 {
	height:400px;
	display:block;
	color:blue;
	background-color:grey;
	padding:0px 20px 0px 20px;
	margin:auto;
	font-family:cursive;
	/*position:relative;
	top:-60px;
	width:320px;
	left:-167px;*/

}

#label1 {
	display:inline-block;
	background-color:grey;
	color:red;
	position:relative;
	left:50px;
	font-family:cursive;
}

#label2 {
	display:inline-block;
	background-color:grey;
	color:green;
	position:relative;
	left:110px;
	font-family:cursive;
}

img {
	display:block;
	float:clear;
	position:relative;
	left:5px;
	top:10px;
}